addressparser一个用于提取简体中文字符串中省，市和区并能够进行映射，检验和简单绘图的python模块

In [28]:
!pip3 install addressparser==0.2.1

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: addressparser==0.2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.2.1)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from addressparser==0.2.1) (1.2.4)
Requirement already satisfied: jieba in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from addressparser==0.2.1) (0.42.1)
Requirement already satisfied: numpy>=1.16.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas->addressparser==0.2.1) (1.18.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas->addressparser==0.2.1) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas->addressparser==0.2.1) (2019.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->addressparser==0.2.1) (1.14.0)
WARNING: You are using pip version 20.0.2; however, version 21.1.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.7/bin/python3.7 -m pip install --upgrade pip' command.

## 省市区提取
默认采用全文模式，不进行分词，直接全文匹配，这样速度慢，准确率高。

In [1]:
import addressparser as addr


locations = ["徐汇区虹漕路461号58号楼5楼", 
             "泉州市洛江区万安塘西工业区", 
             "朝阳区北苑华贸城"]

df1 = addr.transform(locations)
df1

     省    市    区             地名
0  上海市  上海市  徐汇区  虹漕路461号58号楼5楼
1  福建省  泉州市  洛江区        万安塘西工业区
2  北京市  北京市  朝阳区          北苑华贸城

## 地址经纬度、省市县级联关系查询

In [30]:
## 查询经纬度信息
addr.latlng[('北京市','北京市','朝阳区')]

(39.95895316640668, 116.52169489108084)

In [21]:
## 查询含有"鼓楼区"的全部地址
addr.area_map.get_relational_addrs('鼓楼区')

[('江苏省', '南京市', '鼓楼区'),
 ('江苏省', '徐州市', '鼓楼区'),
 ('福建省', '福州市', '鼓楼区'),
 ('河南省', '开封市', '鼓楼区')]

注: 
- city_map可以用来查询含有某个市的全部地址, 
- province_map可以用来查询含有某个省的全部地址

In [20]:
## 查询含有"江苏省", "鼓楼区"的全部地址
addr.province_area_map.get_relational_addrs(('江苏省', '鼓楼区'))

[('江苏省', '南京市', '鼓楼区'), ('江苏省', '徐州市', '鼓楼区')]

## 大批量地址处理

In [2]:
#读取数据
import pandas as pd
df = pd.read_csv("addr.csv")
df.dropna(inplace=True) #去重空地址
df.head()

                原始地址        规模
0  一二八纪念路928号2号楼917室  100-499人
1      一二八纪念路968号1号楼    50-99人
2                开发区    50-99人
3        开发区上海路南现代路西  500-999人
4    开发区东区东鹏大道宏景路67号  500-999人

In [56]:
len(df)

17043

In [57]:
df['原始地址'].nunique()

16939

In [3]:
addr_df = addr.transform(df["原始地址"])
addr_df

      省  市    区                 地名
0                一二八纪念路928号2号楼917室
1                    一二八纪念路968号1号楼
2                              开发区
3                      开发区上海路南现代路西
4            东区    开发区东区东鹏大道宏景路67号
...   .. ..  ..                ...
17038                        绿地商务城
17039                        绿地商务城
17040                        绿地商务城
17041                    绿地普利中心48楼
17042                    绿地蓝海A座17楼

[17043 rows x 4 columns]

In [4]:
#合并df 和 addr_df 两个数据
processed = pd.concat([df, addr_df], axis=1)
processed.head()

                原始地址        规模 省 市   区                 地名
0  一二八纪念路928号2号楼917室  100-499人          一二八纪念路928号2号楼917室
1      一二八纪念路968号1号楼    50-99人              一二八纪念路968号1号楼
2                开发区    50-99人                        开发区
3        开发区上海路南现代路西  500-999人                开发区上海路南现代路西
4    开发区东区东鹏大道宏景路67号  500-999人      东区    开发区东区东鹏大道宏景路67号