## 1. 读取数据

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/Jobs.csv')
df.head(2)

,job_name,job_area,salary,experience,edu,skill,welfare,company_name,industry,stage,population
0,Python,深圳·南山区,13-22K,1-3年,本科,Go Linux C++ 熟悉http 常用数据库,包吃，股票期权，年终奖，定期体检，餐补，员工旅游，带薪年假，补充医疗保险，加班补助，免费班车...,腾讯,互联网,已上市,10000人以上
1,Python,深圳·南山区,15-30K,3-5年,本科,Django 分布式技术 GIT Redis Linux,餐补，五险一金，员工旅游，补充医疗保险，免费班车，带薪年假，全勤奖，年终奖，股票期权，节日福...,腾讯互娱,游戏,不需要融资,10000人以上

In [2]:
# 总数
len(df)

356

## 2. 新增city字段

In [4]:
df['job_area'].unique()

array(['深圳·南山区', '深圳·龙岗区', '深圳', '深圳·福田区', '深圳·光明区', '深圳·龙华区', '深圳·宝安区',
       'job_area', '北京', '北京·朝阳区', '北京·海淀区', '北京·通州区', '北京·东城区', '北京·丰台区',
       '北京·大兴区', '北京·昌平区', '北京·西城区', '上海', '上海·杨浦区', '上海·浦东新区', '上海·徐汇区',
       '上海·长宁区', '上海·青浦区', '上海·静安区', '上海·普陀区', '上海·黄浦区', '上海·闵行区',
       '上海·虹口区', '上海·松江区', '广州·增城区', '广州·黄埔区', '广州·越秀区', '广州·番禺区',
       '广州·天河区', '广州', '广州·海珠区', '广州·荔湾区', '广州·白云区'], dtype=object)

In [5]:
def extract_city(job_area):
    if '深圳' in job_area:
        return '深圳'
    elif '广州' in job_area:
        return '广州'
    elif '北京' in job_area:
        return '北京'
    elif '上海' in job_area:
        return '上海'
    else:
        return None
    
extract_city('上海-静安区')

'上海'

In [6]:
df['job_area'].apply(extract_city)

0      深圳
1      深圳
2      深圳
3      深圳
4      深圳
       ..
351    广州
352    广州
353    广州
354    广州
355    广州
Name: job_area, Length: 356, dtype: object

In [7]:
df['city']=df['job_area'].apply(extract_city)
df.head(2)

,job_name,job_area,salary,experience,edu,skill,welfare,company_name,industry,stage,population,city
0,Python,深圳·南山区,13-22K,1-3年,本科,Go Linux C++ 熟悉http 常用数据库,包吃，股票期权，年终奖，定期体检，餐补，员工旅游，带薪年假，补充医疗保险，加班补助，免费班车...,腾讯,互联网,已上市,10000人以上,深圳
1,Python,深圳·南山区,15-30K,3-5年,本科,Django 分布式技术 GIT Redis Linux,餐补，五险一金，员工旅游，补充医疗保险，免费班车，带薪年假，全勤奖，年终奖，股票期权，节日福...,腾讯互娱,游戏,不需要融资,10000人以上,深圳

## 3. 三个字段公用一个apply函数
- salary
- experience
- population
----
步骤:
1. 正则表达式抽取出数字列表
2. 求均值

In [8]:
import re

text = '300-1000人'

def avg(text):
    nums = re.findall('\d+', text)
    nums = [float(x) for x in nums]
    if nums:
        return np.mean(nums)
    else:
        return 0

    
avg('300-1000人')

650.0

## 4. 薪资
salary

In [9]:
df['new_salary'] = df['salary'].apply(avg)
df.head(2)

,job_name,job_area,salary,experience,edu,skill,welfare,company_name,industry,stage,population,city,new_salary
0,Python,深圳·南山区,13-22K,1-3年,本科,Go Linux C++ 熟悉http 常用数据库,包吃，股票期权，年终奖，定期体检，餐补，员工旅游，带薪年假，补充医疗保险，加班补助，免费班车...,腾讯,互联网,已上市,10000人以上,深圳,17.5
1,Python,深圳·南山区,15-30K,3-5年,本科,Django 分布式技术 GIT Redis Linux,餐补，五险一金，员工旅游，补充医疗保险，免费班车，带薪年假，全勤奖，年终奖，股票期权，节日福...,腾讯互娱,游戏,不需要融资,10000人以上,深圳,22.5

## 5. 工作年限
experience

In [10]:
df['experience'].apply(avg)

0      2.0
1      4.0
2      0.0
3      7.5
4      4.0
      ...
351    4.0
352    2.0
353    6.0
354    4.0
355    0.0
Name: experience, Length: 356, dtype: float64

In [11]:
df['new_experience'] = df['experience'].apply(avg)
df.head(2)

,job_name,job_area,salary,experience,edu,skill,welfare,company_name,industry,stage,population,city,new_salary,new_experience
0,Python,深圳·南山区,13-22K,1-3年,本科,Go Linux C++ 熟悉http 常用数据库,包吃，股票期权，年终奖，定期体检，餐补，员工旅游，带薪年假，补充医疗保险，加班补助，免费班车...,腾讯,互联网,已上市,10000人以上,深圳,17.5,2.0
1,Python,深圳·南山区,15-30K,3-5年,本科,Django 分布式技术 GIT Redis Linux,餐补，五险一金，员工旅游，补充医疗保险，免费班车，带薪年假，全勤奖，年终奖，股票期权，节日福...,腾讯互娱,游戏,不需要融资,10000人以上,深圳,22.5,4.0

## 6. 员工人数
population

In [12]:
df['population'].apply(avg)

0      10000.0
1      10000.0
2      10000.0
3      10000.0
4      10000.0
        ...
351      299.5
352       59.5
353       59.5
354      299.5
355       10.0
Name: population, Length: 356, dtype: float64

In [13]:
df['new_population'] = df['population'].apply(avg)
df.head(2)

,job_name,job_area,salary,experience,edu,skill,welfare,company_name,industry,stage,population,city,new_salary,new_experience,new_population
0,Python,深圳·南山区,13-22K,1-3年,本科,Go Linux C++ 熟悉http 常用数据库,包吃，股票期权，年终奖，定期体检，餐补，员工旅游，带薪年假，补充医疗保险，加班补助，免费班车...,腾讯,互联网,已上市,10000人以上,深圳,17.5,2.0,10000.0
1,Python,深圳·南山区,15-30K,3-5年,本科,Django 分布式技术 GIT Redis Linux,餐补，五险一金，员工旅游，补充医疗保险，免费班车，带薪年假，全勤奖，年终奖，股票期权，节日福...,腾讯互娱,游戏,不需要融资,10000人以上,深圳,22.5,4.0,10000.0

## 7. 教育
1. 设计一个函数，出现正规学历，返回True(包括”不限“)
2. 使用逻辑索引，把正规学历的招聘信息都保留

In [14]:
df['edu'].unique()

array(['本科', '博士', '硕士', '大专', '不限', 'edu', '6个月', '3个月', '7个月', '4天/周'],
      dtype=object)

In [15]:
def edu_bool(level):
    if level in ['本科', '博士', '硕士', '大专', '不限']:
        return True
    else:
        return False
    
edu_bool('博士')

True

In [16]:
df['Edu_bool'] =  df['edu'].apply(edu_bool)
df.head(2)

,job_name,job_area,salary,experience,edu,skill,welfare,company_name,industry,stage,population,city,new_salary,new_experience,new_population,Edu_bool
0,Python,深圳·南山区,13-22K,1-3年,本科,Go Linux C++ 熟悉http 常用数据库,包吃，股票期权，年终奖，定期体检，餐补，员工旅游，带薪年假，补充医疗保险，加班补助，免费班车...,腾讯,互联网,已上市,10000人以上,深圳,17.5,2.0,10000.0,True
1,Python,深圳·南山区,15-30K,3-5年,本科,Django 分布式技术 GIT Redis Linux,餐补，五险一金，员工旅游，补充医疗保险，免费班车，带薪年假，全勤奖，年终奖，股票期权，节日福...,腾讯互娱,游戏,不需要融资,10000人以上,深圳,22.5,4.0,10000.0,True

In [17]:
# 逻辑索引
new_df = df[df['Edu_bool']==True]
new_df.head(2)

,job_name,job_area,salary,experience,edu,skill,welfare,company_name,industry,stage,population,city,new_salary,new_experience,new_population,Edu_bool
0,Python,深圳·南山区,13-22K,1-3年,本科,Go Linux C++ 熟悉http 常用数据库,包吃，股票期权，年终奖，定期体检，餐补，员工旅游，带薪年假，补充医疗保险，加班补助，免费班车...,腾讯,互联网,已上市,10000人以上,深圳,17.5,2.0,10000.0,True
1,Python,深圳·南山区,15-30K,3-5年,本科,Django 分布式技术 GIT Redis Linux,餐补，五险一金，员工旅游，补充医疗保险，免费班车，带薪年假，全勤奖，年终奖，股票期权，节日福...,腾讯互娱,游戏,不需要融资,10000人以上,深圳,22.5,4.0,10000.0,True

## 8. 城市/薪酬关系
city/salary

会用到df.groupby

In [18]:
new_df.groupby('city').mean()

      new_salary  new_experience  new_population  Edu_bool
city
上海     17.107018        2.947368     1842.657895      True
北京     22.998016        3.398810     5033.702381      True
广州     13.878136        2.650538     1637.827957      True
深圳     19.234649        3.690789     4290.500000      True

## 9. 学历/薪酬关系
edu/salary

会用到df.groupby

In [19]:
new_df.groupby('edu').mean()

     new_salary  new_experience  new_population  Edu_bool
edu
不限    11.055556        1.222222       83.000000      True
博士    23.750000        0.000000    10000.000000      True
大专    14.528986        2.923913     1267.847826      True
本科    19.001799        3.311151     3492.465827      True
硕士    28.041667        3.875000     6389.750000      True

## 10. 城市/学历/薪酬关系
透视表

pd.pivot_table(df, index, columns, values, aggfunc, margins)

In [20]:
pd.pivot_table(new_df, 
               index='city', 
               columns='edu', 
               values='new_salary', 
               aggfunc=np.mean, 
               margins=True)

edu          不限     博士         大专         本科         硕士        All
city
上海    15.375000    NaN  15.500000  17.569820        NaN  17.107018
北京          NaN  15.00  15.375000  23.232456  29.888889  22.998016
广州     6.800000    NaN  13.797101  15.088889        NaN  13.878136
深圳    17.375000  32.50  13.000000  19.284314  22.500000  19.234649
All   11.055556  23.75  14.528986  19.001799  28.041667  18.130747

# 支持一下
![](img/my_zanshang_qrcode.jpg)